{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Explore Recipe</h1>

<h2>Meals</h2>

<div class="btn-wrapper">
{% for category in categories %}
    <a class="btn" href="{% url 'recipe_list' category.name selected_equipment %}">{{ category.name }}</a>
{% endfor %}
</div>

<h2>Equipments</h2>

<div class="btn-wrapper">
{% for equipment in equipments %}
    <a class="btn" href="{% url 'recipe_list' selected_category equipment.name %}">{{ equipment.name }}</a>
{% endfor %}
</div>

{% for recipe in recipes %}
    <a class="card" href="{% url 'recipe_detail' recipe.id %}">
        <img src="{% static 'assets/foodlist/' %}{{ recipe.name|cut:" "|cut:"&" }}.jpg">
        <p>{{ recipe.name }}</p>
    </a>
{% endfor %}

{% endblock %}