{% extends 'base.html' %}
{% block content %}
{% load static %}

<h3>{{ recipe.name }}</h3>
<div>
    <img src="{% static 'assets/fooddetail/' %}{{ recipe.name|cut:" "|cut:"&" }}.jpg">
</div>

<div>
    <h4>Category:</h4>
    {% for category in categories %}
        <p>{{ category.name }}</p>
    {% endfor %}
</div>

<div>
    {% if trips.count %}
        <a href="{% url 'recipe_choose' recipe.id %}">Add to Trip!</a>
    {% else %}
        <a href="{% url 'trip_create' recipe.id %}">Create Trip to save recipe</a>
    {% endif %}
</div> -->


<div>
    <h4>Equipments:</h4>
    {% for equipment in equipments %}
        <p>{{ equipment.name }}</p>
    {% endfor %}
</div>

<div class="ingredient_wrapper">
    <h4>Ingredients:</h4>
    <ul >
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient.text }}</li>
    {% endfor %}
    </ul>
</div>

<div class="instruction_wrapper">
    <h4>Instructions:</h4>
    <ol>
    {% for instruction in recipe.instruction_set.all %}
        <li>{{ instruction.text }}</li>
    {% endfor %}
    </ol>
</div>



{% endblock %}