{% extends 'base.html' %}
{% block content %}

<h1>Explore Recipe</h1>

<h2>Meals</h2>

{% for category in categories %}
    <a style="border: 1px solid black;" href="{% url 'recipe_list' category.name selected_equipment %}">{{ category.name }}</a>
{% endfor %}

<h2>Equipments</h2>

{% for equipment in equipments %}
    <a style="border: 1px solid black;" href="{% url 'recipe_list' selected_category equipment.name %}">{{ equipment.name }}</a>
{% endfor %}

{% for recipe in recipes %}
    <a href="{% url 'recipe_detail' recipe.id %}">
        <img>
        <p>{{ recipe.name }}</p>
    </a>
{% endfor %}

{% endblock %}