{% extends 'base.html' %}
{% block content %}
{% load static %}

<h3>{{ recipe.name }}</h3>
<div>
    <img src="{% static 'assets/fooddetail/' %}{{ recipe.name|cut:" "|cut:"&" }}.jpg">
</div>

<div>
    <h4>Category:</h4>
    {% for category in categories %}
        <p>{{ category.name }}</p>
    {% endfor %}
</div>

<!-- I DON'T KNOW WHY SELECTION BOX DOESN'T WORK HERE -->
<!-- <div>
    {% if trips.count %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="select">Choose trips:</label>
            <select name="trip.id" id="select">
                {% for trip in trips %}
                    <option value="{{ trip.id }}">{{ trip.name }}</option>
                {% endfor %}
            </select>
            <input style="border: 1px solid black;" type="submit" value="Add to trip">
        </form>
    {% else %}
        <p>You don't have any trip to add recipe to</p>
        <p>Click <a href="#">here</a> to create trip</p>
    {% endif %}
</div> -->

<div>
    <form action="{% url 'recipe_choose' recipe.id %}" method="post">
        {% csrf_token %}
        <button class="btn" type="submit">Add to trip!</button>
    </form>
</div>

<div>
    <h4>Equipments:</h4>
    {% for equipment in equipments %}
        <p>{{ equipment.name }}</p>
    {% endfor %}
</div>

<div class="ingredient_wrapper">
    <h4>Ingredients:</h4>
    <ul >
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient.text }}</li>
    {% endfor %}
    </ul>
</div>

<div class="instruction_wrapper">
    <h4>Instructions:</h4>
    <ol>
    {% for instruction in recipe.instruction_set.all %}
        <li>{{ instruction.text }}</li>
    {% endfor %}
    </ol>
</div>



{% endblock %}