{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="login_page">
    <h1>S'more Recipes</h1>
    <div id="camping_img"><img src="{% static 'assets/camping.svg' %}"></div>
    <div class="login">
        <h2>Sign-In</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn2" value="Sign-In">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="signup_help_container">
            <span class="signup_help">New to S'more Recipes?</span>
            <span class="signup_help"><a href="{% url 'signup' %}">Sign up here</a></span>
        </div>
        <style>
            .signup_help {
                margin: 0;
                padding: 0;
                height: 20px;
                text-align: center;
            }
            .signup_help > a {
                color: #949494;
            }
            footer {
                display: none;
            }
        </style>
    </div>
</div>

{% endblock %}