{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="login_page">
  <h1>S'more Recipes</h1>
  <div id="camping_img"><img src="{% static 'assets/camping.svg' %}"></div>
  <div class="sign-up">
    <h2>Sign Up</h2>

    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

    <form class="signup-form" id="signup-form" method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input style="margin-top: 20px;" type="submit" class="btn2" value="signup">
      <script defer>
        let one = document.getElementById('id_username')
        let two = document.getElementById('id_password1')
        let three = document.getElementById('id_password2')
        let helptext = document.querySelectorAll('.helptext')
        let li = document.querySelector('#signup-form :nth-child(4)')
        one.placeholder = "Username"
        two.placeholder = "Password"
        three.placeholder = "Confirm password"
        one.setAttribute( "autocomplete", "off" )
        two.setAttribute( "autocomplete", "off" )
        three.setAttribute( "autocomplete", "off" )
        one.addEventListener("focus", function() {
          helptext[0].style.display = "unset"
        })
        one.addEventListener("focusout", function() {
          helptext[0].style.display = "none"
        })
        two.addEventListener("focus", function() {
          li.style.display = "unset"
        })
        two.addEventListener("focusout", function() {
          li.style.display = "none"
        })
        three.addEventListener("focus", function() {
          helptext[2].style.display = "unset"
        })
        three.addEventListener("focusout", function() {
          helptext[2].style.display = "none"
        })
    </script>
    </form>
  </div>
</div>
{% endblock %}