{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/logoimg.png' %}">
    <title>S'more Recipes</title>
</head>
<body>
    <header class="navbar-fixed">
            <div class="nav-wrapper">
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li><a href="/" id="logo"><img src="{% static 'assets/logo.svg' %}"></a></li>
                        <ul class="nav">                        
                            <li><a class="nav-trip" href="{% url 'trip_list' %}">My Trips</a></li>
                            <li><a class="nav-recipe" href="{% url 'recipe_list' 'all' 'all' %}">Explore</a></li>
                            <li><a class="nav-grocery" href="{% url 'grocery_list' %}">Grocery</a></li>
                            <li><a class="logout-link" href="{% url 'logout' %}">logout</a></li>
                        </ul>
                    {% endif %}
                </ul>
            </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script defer>
        let widths = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        let ones = document.querySelector('.logout-link')
        if (widths >= 425) {
            ones.innerHTML = "logout"
        } else {
            ones.innerHTML = "<img width=\"16px\" src=\"{% static 'assets/logout.svg' %}\">"
        }
    </script>

    <footer>
        <div>All Rights Reserved, &copy; 2022 S'more Recipes &nbsp;</div>
    </footer>
</body>
</html>