{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>S'more Recipes</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li><a href="/" id="logo"><img src="{% static 'assets/logo.svg' %}"></a></li>
                        <li><a class="nav-trip" href="{% url 'trip_list' %}">Trips</a></li>
                        <li><a class="nav-recipe" href="{% url 'recipe_list' 'all' 'all' %}">Explore</a></li>
                        <li><a class="nav-trip" href="{% url 'grocery_list' %}">Grocery</a></li>
                        <li><a href="{% url 'logout' %}">Log<br>Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>