{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>{{ user.username }}'s grocery list:</h1>

<div>
    <form class="grocery-form" action="{% url 'grocery_create' %}" method="post">
        {% csrf_token %}
        <div>
            {{ grocery_form.as_p }}
        </div>
        <div class="grocery-submit">
            <input type="submit" class="btn" value="Add +">
        </div>
        <script defer>
            let one = document.getElementById('id_name').placeholder = "Item name"
            let two = document.getElementById('id_amount').placeholder = "amount"

            let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
            let one = document.querySelector('.logout-link')
            let two = document.querySelector('.logout-link-icon')
            if (width >= 425) {
                two.style.display = "none"
                one.style.display = "unset"
            } else {
                two.style.display = "unset"
                one.style.display = "none"
            }
        </script>
    </form>
</div>

<div>
    {% for grocery in user.grocery_set.all %}
        <div class="grocery-each">
            <div class="grocery-info">
                <p>{{ grocery.name }}</p>
                <p>-> {{ grocery.amount }}</p>
            </div>
            <div class="grocery-link">
                <a href="{% url 'grocery_update' grocery.id %}"><img width="15px" src="{% static 'assets/edit' %}.svg"></a>
                <a href="{% url 'grocery_delete' grocery.id %}"><img width="17px" src="{% static 'assets/delete' %}.svg"></a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}