{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>{{ user.username }}'s grocery list:</h1>

<div>
    <form autocomplete="off" class="grocery-form" action="{% url 'grocery_create' %}" method="post">
        {% csrf_token %}
        <div>
            {{ grocery_form.as_p }}
        </div>
        <div class="grocery-submit">
            <input type="submit" class="btn2" style="min-width: 200px;" value="Add +">
        </div>
        <script defer>
            let one = document.getElementById('id_name').placeholder = "Item name"
            let two = document.getElementById('id_amount').placeholder = "amount"
            one.setAttribute("autocomplete", "off")
            two.setAttribute("autocomplete", "off")
        </script>
    </form>
</div>

<div>
    {% for grocery in user.grocery_set.all %}
        <div class="grocery-each">
            <div class="grocery-info">
                <p>{{ grocery.name }}</p>
                <p>: {{ grocery.amount }}</p>
            </div>
            <div class="grocery-link">
                <a href="{% url 'grocery_update' grocery.id %}"><img width="15px" src="{% static 'assets/edit' %}.svg"></a>
                <a href="{% url 'grocery_delete' grocery.id %}"><img width="17px" src="{% static 'assets/delete' %}.svg"></a>
            </div>
        </div>
    {% endfor %}
</div>

<script defer>
    let navGrocery = document.querySelector('.nav-grocery')
    navGrocery.style.fontWeight = "600";
    navGrocery.style.textDecoration = "underline";
</script>

{% endblock %}