{% extends 'base.html' %}
{% block content %}
{% load static %}

<a href="{% url 'recipe_detail' recipe.id %}"><img src="{% static 'assets/cancel' %}.svg"></a>
<br>

<h1 class="select_trip">Select a trip to add the recipe to:</h1>
<a class="btn2" href="{% url 'trip_create' recipe.id %}">+ New trip</a>

{% if trips.count %}
    {% for trip in trips %}
        <div class="trip-each">
            <a href="{% url 'recipe_save' trip.id recipe.id %}">
                <p>{{ trip.name }}</p>
            </a>
        </div>
    {% endfor %}
{% else %}
<img id="notrip" src="{% static 'assets/trip.svg' %}">
{% endif %}



{% endblock %}