{% extends 'base.html' %}
{% block content %}
{% load static %}

<a class="btn2" style="width: 35%; margin: 30px 0;" href="{% url 'trip_create' recipe.id %}">+ New Trip</a>

<h1>Choose trip to add recipe to:</h1>

{% for trip in trips %}
    <div class="trip-each">
        <a href="{% url 'recipe_save' trip.id recipe.id %}">
            <p>{{ trip.name }}</p>
            <p>To {{ trip.destination }}</p>
        </a>
    </div>
{% endfor %}

<img src="{% static 'assets/trip.svg' %}">

{% endblock %}