{% extends 'base.html' %}
{% block content %}
{% load static %}


<a href="{% url 'recipe_list' 'all' 'all' %}"><img src="{% static 'assets/goback' %}.svg"></a>


<h3>{{ recipe.name }}</h3>
<div class="recipe-detail-img">
    <img src="{% static 'assets/fooddetail/' %}{{ recipe.name|cut:" "|cut:"&" }}.jpeg">
</div>

<div class="recipe-detail-category">
    <div class="recipe-detail-cat-container">
        <div class="btn-wrapper recipe-detail-cat">
            <div class="cat-wrapper">
                {% for category in categories %}
                <p class="btn">{{ category.name }}</p>
                {% endfor %}
            </div>
            <div class="equip-wrapper">
                {% for equipment in equipments %}
                <p class="btn"><img src="{% static 'assets/cookingtool/' %}{{ equipment.name|cut:" " }}.svg"></p>
                {% endfor %}
            </div>
        </div>
        <div class="recipe-detail-download">
            <a class="download-icon" href="{% url 'recipe_download' recipe.id %}"><img src="{% static 'assets/download' %}.svg"></a>
        </div>
    </div>
</div>


<div class="trip-tags">
    <a class="btn2" href="{% url 'recipe_choose' recipe.id %}">+ Add to Trip!</a>
    {% if user.trip_set.count  %}
        <p>This recipe is in:</p>
        {% for trip in trips_have_recipe %}
            <a class="trip-tag" href="{% url 'trip_detail' trip.id %}">{{ trip.name }}</a>
        {% endfor %}
    {% endif %}
</div>



<div class="ingredient-wrapper">
    <h4>Ingredients:</h4>
    <ul >
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient.text }}</li>
    {% endfor %}
    </ul>
</div>

<div class="instruction-wrapper">
    <h4>Instructions:</h4>
    <ul>
    {% for instruction in recipe.instruction_set.all %}
        <li>{{ instruction.text }}</li>
    {% endfor %}
    </ul>
</div>

<div class="comment-container">
    <div class="comment-input">
        <div class="comment-icon">
            <p>{{ user.username.0|capfirst }}</p>
        </div>
        <div class="comment-form">
            <form action="{% url 'comment_create' recipe.id %}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input class="btn2" type="submit" value="Comment">
                <script defer>
                    let one = document.getElementById('id_text').placeholder = "comment ..."
                </script>
            </form>
        </div>
    </div>
    <div class="comment-field-container">
        {% for comment in recipe.comment_set.all %}
            <div class="comment-field">
                <div class="comment-field-icon">
                    <p>{{ comment.user.username.0|capfirst }}</p>
                </div>
                <div class="comment-each">
                    <div class="comment-each-title">
                        <strong>{{ comment.user.username|capfirst }}</strong>
                        {% if user == comment.user %}
                            <a href="{% url 'comment_delete' recipe.id comment.id %}"><small>delete</small></a>
                        {% endif %}
                    </div>
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <script defer>
        let navRecipe = document.querySelector('.nav-recipe')
        navRecipe.style.fontWeight = "600";
        navRecipe.style.textDecoration = "underline";
    </script>
</div>


{% endblock %}