{% extends 'base.html' %}
{% block content %}
{% load static %}

<h3>{{ recipe.name }}</h3>
<div>
    <img src="{% static 'assets/fooddetail/' %}{{ recipe.name|cut:" "|cut:"&" }}.jpg">
</div>


<div class="btn-wrapper">
    {% for category in categories %}
        <p class="btn">{{ category.name }}</p>
    {% endfor %}
    {% for equipment in equipments %}
        <p class="btn"><img src="{% static 'assets/cookingtool/' %}{{ equipment.name|cut:" " }}.svg"></p>
    {% endfor %}
</div>

<div>
    {% if trips.count %}
        <a class="btn2" style="width: 40%;" href="{% url 'recipe_choose' recipe.id %}">Add to Trip!</a>
    {% else %}
        <a class="btn2" style="width: 80%;" href="{% url 'trip_create' recipe.id %}">Create Trip to save recipe</a>
    {% endif %}
</div>

<div>
    {% for trip in trips_have_recipe %}
        
        <span>{{ trip.name }}</span>
       
    {% endfor %}
    <a class="btn" style="width: 30%; margin: 30px 0;" href="{% url 'recipe_download' recipe.id %}">Download pdf</a>
</div>

<div class="ingredient-wrapper">
    <h4>Ingredients:</h4>
    <ul >
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient.text }}</li>
    {% endfor %}
    </ul>
</div>

<div class="instruction-wrapper">
    <h4>Instructions:</h4>
    <ul>
    {% for instruction in recipe.instruction_set.all %}
        <li>{{ instruction.text }}</li>
    {% endfor %}
    </ul>
</div>



{% endblock %}