{% extends 'base.html' %}
{% block content %}
{% load static %}

<h3>{{ recipe.name }}</h3>
<div>
    <img src="{% static 'assets/fooddetail/' %}{{ recipe.name|cut:" "|cut:"&" }}.jpg">
</div>


<div class="btn-wrapper">
    {% for category in categories %}
        <p class="btn">{{ category.name }}</p>
    {% endfor %}
    {% for equipment in equipments %}
        <p class="btn">{{ equipment.name }}</p>
    {% endfor %}
</div>

<div>
    {% if trips.count %}
        <a class="btn2" style="width: 40%;" href="{% url 'recipe_choose' recipe.id %}">Add to Trip!</a>
    {% else %}
        <a class="btn2" style="width: 80%;" href="{% url 'trip_create' recipe.id %}">Create Trip to save recipe</a>
    {% endif %}
</div>

<div>
    {% for trip in trips_have_recipe %}
        <span>{{ trip.name }}</span>
    {% endfor %}
    <a class="btn" style="width: 30%; margin: 30px 0;" href="{% url 'recipe_download' recipe.id %}">Download pdf</a>
</div>

<div class="ingredient-wrapper">
    <h4>Ingredients:</h4>
    <ul >
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient.text }}</li>
    {% endfor %}
    </ul>
</div>

<div class="instruction-wrapper">
    <h4>Instructions:</h4>
    <ul>
    {% for instruction in recipe.instruction_set.all %}
        <li>{{ instruction.text }}</li>
    {% endfor %}
    </ul>
</div>

<div class="comment-container">
    <div class="comment-input">
        <div class="comment-icon">
            <p>{{ user.username.0|capfirst }}</p>
        </div>
        <div class="comment-form">
            <form action="{% url 'comment_create' recipe.id %}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input class="btn" type="submit" value="Comment">
                <script defer>
                    let one = document.getElementById('id_text').placeholder = "comment ..."
                </script>
            </form>
        </div>
    </div>
    <div class="comment-field-container">
        {% for comment in recipe.comment_set.all %}
            <div class="comment-field">
                <div class="comment-field-icon">
                    <p>{{ comment.user.username.0|capfirst }}</p>
                </div>
                <div class="comment-each">
                    <div class="comment-each-title">
                        <strong>{{ comment.user.username|capfirst }}</strong>
                        {% if user == comment.user %}
                            <a href="{% url 'comment_delete' recipe.id comment.id %}"><small>delete</small></a>
                        {% endif %}
                    </div>
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}