{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="cate-tool">
    <div class="recipe-cate">
        <h2>Meals</h2>
        <div class="btn-wrapper">
            {% if selected_category == 'all' %}
                <a class="btn3" style="height: 40px;" href="{% url 'recipe_list' 'all' selected_equipment %}">All</a>
            {% else %}
                <a class="btn" href="{% url 'recipe_list' 'all' selected_equipment %}">All</a>
            {% endif %}
            {% for category in categories %}
                {% if category.name == selected_category %}
                    <a class="btn2" href="{% url 'recipe_list' category.name selected_equipment %}">{{ category.name }}</a>
                {% else %}
                    <a class="btn" href="{% url 'recipe_list' category.name selected_equipment %}">{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="recipe-cate recipe-tool">
        <h2>Equipments</h2>
        <div class="btn-wrapper">
            <div class="tool-wrapper">
                {% if selected_equipment == 'all' %}
                    <a class="btn3 all" href="{% url 'recipe_list' selected_category 'all' %}">All</a>
                    <span>&nbsp;</span>
                {% else %}
                    <a class="btn all" href="{% url 'recipe_list' selected_category 'all' %}">All</a>
                    <span>&nbsp;</span>
                {% endif %}
            </div>
            {% for equipment in equipments %}
                {% if equipment.name == selected_equipment %}
                <div class="tool-wrapper active">
                {% else %}
                <div class="tool-wrapper">
                {% endif %}
                    <a class="tool" href="{% url 'recipe_list' selected_category equipment.name %}"><img src="{% static 'assets/cookingtool/' %}{{ equipment.name|cut:" " }}.svg"></a>
                    <span>{{ equipment.name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="cards">
{% for recipe in recipes %}
    <div class="card">
        <a href="{% url 'recipe_detail' recipe.id %}">
            <img src="{% static 'assets/foodlist/' %}{{ recipe.name|cut:" "|cut:"&" }}.jpg">
            <p>{{ recipe.name }}</p>
        </a>
    </div>
{% endfor %}
</div>

<script defer>
    let navRecipe = document.querySelector('.nav-recipe')
    navRecipe.style.fontWeight = "600";
    navRecipe.style.textDecoration = "underline";
</script>

{% endblock %}