{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h1>Save Recipe of A Trip</h1>
</div>

<script>
    let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    let one = document.querySelector('.logout-link')
    let two = document.querySelector('.logout-link-icon')
    if (width >= 425) {
        two.style.display = "none"
        one.style.display = "unset"
    } else {
        two.style.display = "unset"
        one.style.display = "none"
    }
</script>

{% endblock %}