{% extends 'base.html' %}
{% block content %}
{% load static %}

<a class="btn2" href="{% url 'trip_create' 0 %}">+ New Trip</a>

<h1>{{ user.username }}'s trips</h1>
{% for trip in trips %}
    <div class="trip-each">
        <a href="{% url 'trip_detail' trip.id %}">
            <p>{{ trip.name }}</p>
        </a>
    </div>
{% endfor %}
<script>
    let navTrip = document.querySelector('.nav-trip')
    navTrip.style.fontWeight = "600";
    navTrip.style.textDecoration = "underline";
</script>

{% endblock %}