{% extends 'base.html' %}
{% block content %}

<a class="btn2" href="{% url 'trip_create' 0 %}">+ New Trip</a>

<h1>{{ user.username }}'s trips</h1>
{% for trip in trips %}
    <div class="trip-each">
        <a href="{% url 'trip_detail' trip.id %}">
            <p>{{ trip.name }}</p>
        </a>
    </div>
{% endfor %}
<script>
    let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    let one = document.querySelector('.logout-link')
    let two = document.querySelector('.logout-link-icon')
    let navTrip = document.getElementsByClassName('nav-trip')

    if (width >= 425) {
        two.style.display = "none"
        one.style.display = "unset"
    } else {
        two.style.display = "unset"
        one.style.display = "none"
    }
</script>

{% endblock %}