{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

<a href="{% url 'trip_detail' trip.id %}"><img src="{% static 'assets/cancel' %}.svg"></a>
<a class="btn delete_trip" href="{% url 'trip_delete_confirm' trip.id %}" >Delete trip</a>

<form class="trip-create" action="{% url 'trip_update' trip.id %}" method="post">
    {% csrf_token %}
    <style>
        .datepicker-container {
            color: black;
        }
        input {
            width: 335px;
            height: 40px;
        }
    </style>
    {{ trip_form.as_p }}
    <input class="btn2" style="margin-top: 20px;" type="submit" value="Save">
</form>

<script>
    $(function () {
        $("#id_start_date").datepicker();
    });
    $(function () {
        $("#id_end_date").datepicker();
    });
    $("#id_start_date").datepicker({
        format: 'yyyy-mm-dd'
    }); 
    $("#id_end_date").datepicker({
        format: 'yyyy-mm-dd'
    }); 
    document.getElementById('id_name').value = `{{ trip.name }}`
    document.getElementById('id_start_date').value = `{{ trip.start_date|date:"Y-m-d" }}`
    document.getElementById('id_end_date').value = `{{ trip.end_date|date:"Y-m-d"  }}`

    let navTrip = document.querySelector('.nav-trip')
    navTrip.style.fontWeight = "600";
    navTrip.style.textDecoration = "underline";
</script>

{% endblock %}