* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #505A3A;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
}

main,
header {
    flex: 1 0 auto;
    padding: 20px 20px 0 20px;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

header {
    flex: 0 0 auto;
}


a {
    color: white;
    text-decoration: none;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}


.btn {
    font-family: 'Quicksand', sans-serif;
    color: #FAC02C;
    border: 1px solid #FAC02C;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

.btn2 {
    font-family: 'Quicksand', sans-serif;
    color: #232323;
    border: 1px solid #FAC02C;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    background-color: #FAC02C;
}

.btn3 {
    color: #232323;
    border: 1px solid #FAC02C;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    background-color: #FAC02C;
}

.all {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool {
    width: 60px;
    height: 60px;
    border: 1px solid #fac02d;
    border-radius: 6px;
    display: inline-flex;

    img {
        width: 100%;
        padding: 7px;
    }
}

.tool-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #fac02d;
    font-size: 14px;
    text-align: center;
}

.tool-wrapper.active .tool{
    background-color: #fac02d;
    img {
        filter: invert(30%) sepia(10%) saturate(1370%) hue-rotate(37deg) brightness(51%) contrast(86%);
    }
}

.signup {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.signup_help {
    color: #949494;
    height: inherit !important;
}

a.signup_help {
    display: block;
    text-align: center;
    &:hover {
        text-decoration: underline;
    }
}

.nav-wrapper {
    display: flex;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-content: center;
    flex: 1 1 auto;
    
    .nav {
        max-width: 400px;
    }

    li {
        display: flex;
        align-items: center;

        a {
            min-width: 64px;
        }
    }
}

.nav a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.btn-wrapper {
    display: flex;
    gap: 9px;
}

.btn-wrapper.recipe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0;

    .btn {
        margin: 0;
        font-size: 14px;
        padding: 2px 4px;
        border-radius: 6px;
        color: white;
        border-color: white;
    }
}

.equip-wrapper {
    display: flex;
    gap: 8px;

    .btn {
        display: flex;
        width: 35px;
        height: 35px;
    }

    img {
        width: 100%;
        filter: saturate(0) brightness(2);
    }
}

.login,
.sign-up {
    background-color: white;
    color: #232323;
    border-radius: 20px 20px 0 0;
    padding: 20px 20px 40px 20px;
    margin: -20px 0 0 0;
    width: 112%;
    max-width: 400px;

    .btn,
    .btn2 {
        width: 100%;
    }
    
    p {
        display: flex;
        justify-content: center;
        height: 40px;
        margin-bottom: 10px;
        label {
            display: none;
        }
        
        input {
            position: relative;
            height: 40px;
            width: 100%;
            border-radius: 10px;
            border: 1px solid #c4c4c4;
            padding: 10px;
        }
    }
}

.login {
    form {
        p {
            #id_username {
                padding-left: 35px;
                background-image: url("/static/assets/username.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: 10px 12px;
            }
            #id_password {
                padding-left: 35px;
                background-image: url("/static/assets/password.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: 10px 12px;
            }
        }
    }
}

.login h2,
.sign-up h2 {
    margin: 0 0 22px 0;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_page h1 {
    font-size: 24px;
    font-weight: normal;
}

.signup-form {
    p {
        display: flex;
        flex-direction: column;
        label {
            display: none;
        }
        span {
            display: none;
            font-size: 10px;
        }
    }
    #id_username {
        padding-left: 35px;
        background-image: url("/static/assets/username.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: 10px 12px;
    }
    #id_password1, #id_password2 {
        padding-left: 35px;
        background-image: url("/static/assets/password.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: 10px 12px;
    }
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0;
}

.card {
    flex: 0 0 auto;
    width: 410px;
    position: relative;

    img {
        border-radius: 5px;
        width: 100%;
    }
    p {
        padding: 0 50px 0 16px;
        margin-top: -35px;
        margin-bottom: 11px;
    }

    .download-icon {
        position: absolute;
        right: 10px;
        bottom: 5px;
    }

    .delete-btn {
        position: absolute;
        left: 5px;
        top: 5px;

        &:hover {
            filter: brightness(.5);
        }
    }
}

.card:hover {
    opacity: .8;
    transition: all .2s;
}

.ingredient-wrapper {
    h4 {
        margin: 20px 0 5px 0;
    }
    li {
        list-style-type: disc;
        margin-left: 20px;
    }
}

.instruction-wrapper {
    h4 {
        margin: 20px 0 5px 0;
    }
    li {
        list-style-type: nth;
        margin-left: 20px;
    }
}

.trip-tags {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    text-align: center;
    gap: 8px;
    margin: 16px 0;

    .trip-tag {
        border: 1px solid #fac02d;
        border-radius: 5px;
        padding: 4px;
        font-size: 14px;
        color: #fac02d;
    }
}

.select_trip {
    font-size: 18px;
    font-weight: normal;
    padding: 30px 0;
}

.trip-each {
    border: 1px solid #FAC02C;
    border-radius: 10px;
    margin: 25px 0;
    padding: 0 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    p {
        color: #FAC02C;
    }
}

.trip-each:hover {
    background-color: #FAC02C;
    p {
        color: black;
    }
}

.trip-create {
    p {
        display: flex;
        flex-direction: column;
        label {
            margin: 10px 0;
        }
        input {
            height: 30px;
            border-radius: 5px;
            border: 1px solid #FAC02C;
            background-color: transparent;
            color: white;
        }
    }
    .btn {
        background-color: transparent;
    }
}

#notrip {
    display: flex;
    padding: 103px 0px;
}

.delete_trip {
    
}

.recipe-cate {
    display: flex;
    .btn {
        margin: 18px 20px;
    }
}

.grocery-each {
    border: 1px solid #FAC02C;
    border-radius: 10px;
    margin: 25px 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 90% 10%;
    p {
        color: #FAC02C;
        margin: 10px 0;
    }
    .grocery-link {
        a {
            p {
                color: white;
            }
        }
    }
}

.grocery-form {
    display: grid;
    grid-template-columns: 70% 30%;
    label {
        display: none;
    }
    input {
        height: 30px;
        background-color: transparent;
        color: #FAC02C;
        border-radius: 5px;
        border: 1px solid #FAC02C;
        width: 90%;
    }
    ::placeholder {
        color: #FAC02C;
        opacity: 0.7;
        padding: 0 0 0 2px;
    }
    .grocery-submit {
        display: flex;
        align-items: flex-end;
        input {
            margin: 16px 10px 16px 0;
        }
    }
}

.comment-container {
    margin: 40px 0;
}

.comment-input {
    display:grid;
    grid-template-columns: 40px auto;
    .comment-icon {
        p {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #717171;
            text-align: center;
            display: grid;
            place-content: center;
            margin: 22px 0 0 -5px;
        }
    }
    .comment-form {
        form {
            p {
                label {
                    display: none;
                }
                textarea {
                    background-color: transparent;
                    color: white;
                    width: 100%;
                    border: 1px solid white;
                    border-radius: 5px;
                    resize: none;
                    max-width: 400px;
                    min-width: 200px;
                }
            }
        }
    }
}

.comment-field {
    padding: 10px 0;
    margin: 10px 0;
    display:grid;
    grid-template-columns: 40px auto;
    border-bottom: 1px solid #697550;
    .comment-field-icon {
        p {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #717171;
            font-weight: 600;
            text-align: center;
            display: grid;
            place-content: center;
            margin: 3px 0 0 -5px;
        }
    }
    .comment-each {
        p {
            color: #dedede;
        }
        small {
            color: #c4c4c4;
        }
        a {
            margin: 0 10px 0 0;
        }
        a:hover {
            text-decoration: underline;
        }
        .comment-each-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

footer {
    width: 100%;
    padding: 5px;
    text-align: center;
    background: #f8f8f8;
    color: black;
    font-size: 12px;
}